<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<style>
    body{
        background-color:rgba(250, 235, 215, 0.767);
    }
</style>
   
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/products">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/new">New Product</a>
            </li>
      </nav>
    <div class="container">
    <h1>The Product is :<%=product.name%></h1>
    <ul class="list-inline">
        <li class="list-inline-item"><b>Price:</b> $<%=product.price%></li>
        <li class="list-inline-item"><b>Category:</b><a href="/products?category=<%=product.category%>"><%=product.category%></a></li>
</ul>
    
    <a href="/products">All Products</a> 
    <a href="/products/new">Add New Products</a>
    <a href="/products/<%=product.id%>/edit">Edit Product</a>
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
    <button>Delete</button></form>
</div>
</body>
</html>